<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Petition</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


<body style="background-color: papayawhip">

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <li class="nav-item active">
                <form action="/">
                    <button type="submit" class = "btn nav-link">Create Petitions</button>
                </form>
            </li>
            </li>
            <li class="nav-item">
                <form action="/petitions">
                    <button type="submit" class = "btn nav-link">View Petitions</button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/search-petitions">
                    <button type="submit" class = "btn nav-link">Search Petitions</button>
                </form>
            </li>

        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Online Petitions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    </div>
</nav>
<div class="container">
    <br>
    <br>

    <div class="col-md-12">


        <div class="shadow p-3 mb-4 bg-white rounded">



            <form action="/Signature" >
                <input type="hidden"  name="id" th:value="${param.id}"></input>

                Name : <input type="text" name="name"  class="Required" />
                E-Mail : <input type="text" name="email"  class="Required"/>

                <input type="submit" value="Sign">
            </form>

        </div>
    </div>
</div>

</body>
</html>


